.mint-form-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-bottom: 50px;
  gap: 20px;
}

.mint-form-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 28%;
  justify-content: flex-end;
}

#mintButton {
  background-color: #981b4c;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0.4s;
  display: flex;
  align-items: center;
}

#mintButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#mintButton:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#tokensButton {
  border-radius: 4px;
  background-color: #342362;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

#tokensButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#tokensButton span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

#tokensButton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#tokensButton:hover span {
  padding-right: 25px;
}

#tokensButton:hover span:after {
  opacity: 1;
  right: 0;
}

#browseButton {
  border-radius: 4px;
  background-color: #342362;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#nftimage {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-self: center;
}

#nameError,
#descriptionError,
#fileError {
  color: rgb(202, 6, 6);
}

.loader {
  border: 7px solid #e9e6e6;
  border-radius: 50%;
  border-top: 7px solid #342362;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
  display: none;
  margin-right: auto;
  margin-left: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.from-body {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.from-body > div:nth-child(1) {
  /* background-color: #dce6f1; */
  padding: 10px 30px;
  border-radius: 15px;
}

h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
}

.form-Row {
  width: 250px;
  margin-top: 1rem;
}

.form-Row label {
  display: block;
  margin: 4px 0;
  font-weight: bold;
}

.form-Row input,
.form-Row textarea {
  width: 100%;
}

.form-Row input {
  height: 28px;
}

.btn {
  /* padding: 8px 16px;
  background-color: #981b4c;
  border-radius: 6px;
  border: none;
  color: white;
  margin: 5px auto; */
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(255, 255, 255);
  background-color: #981b4c;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}
.btn:hover {
  cursor: pointer;
  background-color: #342362;
}
.btn:disabled {
  color: rgba(0, 0, 0, 0.26);
  pointer-events: none;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

#balance {
  margin: 0;
  text-align: center;
  font-size: 22px;
  margin: 16px 0;
  color: #981b4c;
}

#contractAddress {
}

.form-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  padding: 24px;
}

.form-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  padding: 24px;
  width: 100%;
}
.form-input-wrapper {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-width: 0;
  padding: 0;
  margin: 16px 0;
  border: 0;
  width: 100%;
}
.form-input-inner {
  vertical-align: top;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  border-radius: 4px;
}
.form-input-label {
  color: #00000099;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  padding: 0 px;
  display: block;
  transform-origin: left top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 24px);
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(14px, 16px) scale(1);
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  z-index: 1;
  pointer-events: none;
}
.form-input-fieldset {
  text-align: left;
  position: absolute;
  inset: -1px 0px 0px;
  margin: 0px;
  padding: 0px 8px;
  pointer-events: none;
  border-radius: inherit;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  min-width: 0%;
  border-color: rgba(0, 0, 0, 0.23);
}
.form-input {
  font: inherit;
  letter-spacing: inherit;
  color: currentcolor;
  border: 0px;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0px;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  padding: 8px;
}
