.nftContainer {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
}

.singleNtf {
  flex: 0 0 33.3333%;

  margin-bottom: 20px;
}

.singleNtf div:nth-child(1) {
  border-radius: 10px;
  background-color: #988bdc;
  height: 200px;
  margin: 10px;
  text-align: center;
  padding: 5px 10px;
  color: rgb(3, 3, 58);
}

.singleNtf div:nth-child(1) > p {
  font-size: 18px;
}

.nftWrapper {
  border-radius: 50%;
  border-radius: 50%;
  background-color: whitesmoke;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.transferBtn {
  padding: 8px 12px;
  background-color: #981b4c;
  border-radius: 6px;
  border: none;
  color: white;
  margin: 5px auto;
}

.transferBtn:hover {
  cursor: pointer;
  background-color: #342362;
}

.nft-section {
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.nft-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: auto;
  min-height: 200px;
  border: 1px solid rgb(3, 3, 58);
  color: rgb(3, 3, 58);
  background-color: #988bdc;
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
}
