#MintFormBtn{
  min-width: 10em;
}

#NFTCollectionContainer{
  display: flex;
  flex-flow: row wrap;
  gap: 1em 0em;
  height: 15em;
  justify-content: center;
}

.Card{
  display: flex;
  flex-flow: column nowrap;
  gap: 1em 0em;
  /*margin: 0vw 1em;*/
}

.CardLine{
  display: flex;
  flex-flow: row nowrap;
  gap: 0em 0em;
  align-items: center;
  justify-content: flex-start;
}

.CardTitle{
  font-size: 2em;
  margin: 2vw 0vw 2vw 0vw;/*To override CardLine margin */
  text-align: center;
  justify-content: center;
  color: #333;
}
